.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f15b292e;
    border: 1px solid #F15A29;
    
    .button-au {
        font-size: 1rem;
        border-radius: 99em;
        padding: 0;
        border: 0;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        transition: color 0.15s ease, width 0.25s ease-out;
        position: relative;
        background-color: #000000;

        &--play {
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            color: #fff;


            .ph-play,
            .ph-pause {
                grid-row-start: 1;
                grid-column-start: 1;
                transition: opacity 0.15s ease, transform 0.25s ease;
            }

            .ph-play {
                opacity: 1;
            }

            .ph-pause {
                opacity: 0;
                transform: rotate(0);
            }

            &.is-active {
                .ph-play {
                    opacity: 0;
                    transform: rotate(180deg);
                }

                .ph-pause {
                    opacity: 1;
                    transform: rotate(180deg);
                }

                &:after {
                    opacity: 1;
                    animation: spin 2s linear infinite;
                }
            }
        }

        &:hover {
            color: rgb(255, 255, 255);
        }

        &.is-active {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}